@page
@model ASP.NET_Core_Fundamentals.Pages.Movies.NotFoundModel
@{
	ViewData["Title"] = "NotFound";
}

<h2>You movie was not found!</h2>
<a asp-page="./List" class="btn btn-light">See all movies</a>